@page
@model WebBank.Pages.FilReq.Fil.Fil3Model
@{
    <h1>Вкладчики</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Depositor[0].DepostorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Depositor[0].DepId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Depositor)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Model.Deposit.DepName

                    </td>
                </tr>
            }
        </tbody>
    </table>
}